<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/anbulategia</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"/>
    <mapping resource="domain/Espezialitatetxostena.hbm.xml"/>
    <mapping resource="domain/Larrialdia.hbm.xml"/>
    <mapping resource="domain/Errezetak.hbm.xml"/>
    <mapping resource="domain/Froga.hbm.xml"/>
    <mapping resource="domain/Langilea.hbm.xml"/>
    <mapping resource="domain/Bolantea.hbm.xml"/>
    <mapping resource="domain/Zentrua.hbm.xml"/>
    <mapping resource="domain/Larrialdiordutegia.hbm.xml"/>
    <mapping resource="domain/Errezeta.hbm.xml"/>
    <mapping resource="domain/Gela.hbm.xml"/>
    <mapping resource="domain/Ordutegia.hbm.xml"/>
    <mapping resource="domain/Kontsulta.hbm.xml"/>
    <mapping resource="domain/Tentsioa.hbm.xml"/>
    <mapping resource="domain/Gaixoa.hbm.xml"/>
    <mapping resource="domain/Historiala.hbm.xml"/>
    <mapping resource="domain/Altabaja.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
